/*

FULL PAGE COLOR

*/

/*

HEADER

*/

.header {
  text-align: center;
}

/*

TITLE

*/

.title {
  text-align: center;
  font-style: italic;
  font-size: 60px;
}

/*

ABOUT ME

*/

.aboutme {
  display: block;
}

.line {
  font-size: 100px;
}

.abouttitle {
  font-size: 50px;
  font-style: italic;
  text-align: center;
}

.intro1 {
  font-family: perpetua;
  font-size: 30px;
}

.intro2 {
  font-family: perpetua;
  font-size: large;
}

/*

SKILLS

*/

.skillstitle {
  font-size: large;
  font-style: italic;
}

.skillslist {
  font-style: arial;
  font-size: medium;
}

/* 

PROJECTS

*/

.projecttitle {
  font-style: 1000px;
  font-style: italic;
}

.projects {
  font-style: small;
}

/*

CONTACTS

*/

.contact {
  font-size: large;
  font-style: italic;
}

.contactlist {
  font-size: medium;
}

/* 

DARK & LIGHT MODE

*/

.dmt {
  font-size: small;
}

.switchtext {
  font-size: smaller;
  font-style: italic;
}

body {
  background-color: #efefef;
  color: black;
}

body {
  padding: 25px;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
} 

body {
    margin: 3em;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
  }
  
  h1 {
    line-height: 1.25;
    margin: 2em 0 0;
  }
  p {
    margin: .5em 0;
  }
  
  #switcher {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #switcher li {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 15px 15px 0;
    border-radius: 30px;
    border: 3px solid black;
  }
  
  #grayButton {
    background: gray;
  }
  #whiteButton {
    background: white;
  }
  #redButton{
    background: red;
  }