/*

HEADER

*/

#header {
  font-size: xx-large;
  text-align: center;
  font-style: italic;
}

/*

NAVIGATION BAR

*/

navbar {
  background-color: black;
  padding: 20px 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  font-style: italic;
}

#navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#navbar a {
  color: white;
  text-decoration: none;
  padding: 20px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

#navbar a:hover {
  background-color: white;
  color: black;
}

#navbar .burger {
  display: none;
  cursor: pointer;
}

@media (max-width: 992px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar ul {
    flex-direction: column;
  }

  #navbar a {
    padding: 15px;
    text-align: center;
  }

  #navbar .burger {
    display: block;
  }
}

/*

FIXED BAR

*/

#fixedbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 33px;
  background-color: gray;
  padding: 10px;
  text-align: center;
}

/*

TITLE

*/

#ttle {
  text-align: center;
  font-style: italic;
  font-size: 60px;
  margin-top: 0px;
}

/*

ABOUT ME

*/

#aboutme {
  display: block;
}

.line {
  font-size: 100px;
}

.abouttitle {
  font-size: 50px;
  font-style: italic;
  text-align: center;
}

/*

INTROS

*/

.intro1 {
  font-size: 30px;
  text-align: center;
}

.intro2 {
  font-size: large;
  text-align: center;
}

.intro3 {
  font-size: large;
  text-align: center;
}

/*

SKILLS

*/

#skillstitle {
  font-size: 35px;
  font-style: italic;
  text-align: center;
}

#skillslist {
  font-style: arial;
  font-size: 20px;
}

/* 

PROJECTS

*/

#projecttitle {
  font-size: 35px;
  font-style: italic;
  text-align: center;
}

.projects {
  font-size: 20px;
}

/*

CONTACTS

*/

#contacts {
  font-size: 35px;
  font-style: italic;
  text-align: center;
}

.contactlist {
  font-size: 20px;
}

/*

LINE

*/

body {
    /* margin: 3em; */
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
  }
  
  h1 {
    line-height: 1.25;
    margin: 2em 0 0;
  }
  p {
    margin: .5em 0;
  }
  
  #switcher {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #switcher li {
    float: left;
    width: 30px;
    height: 30px;
    margin: 100px 15px 15px 0;
    border-radius: 30px;
    border: 3px solid;
  }

/* 

BACKGROUND AND TEXT SWITCHER

*/

  #whiteButton {
    background: white;
  }
  #blackButton {
    background: black;
  }
  #grayButton {
    background: gray;
  }
  #dsgrayButton{
    background: darkslategray;
  }
  #redButton{
    background: red;
  }
  #blueButton{
    background: blue;
  }
  #greenButton{
    background: green;
  }
  #purpleButton{
    background: purple;
  }
  #navyButton{
    background: navy
  }
  #tealButton{
    background: teal
  }
  #fuchsiaButton{
    background: fuchsia;
  }
  #oliveButton{
    background: olive;
  }
  #brownButton{
    background: brown
  }